body {
    background-color: black;
    color: white;
    user-select: none;
}
#main {
    background-color: rgba(255, 255, 255, 0.01);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 2vh 3vw 2vh 3vw;
    border-radius: 10px;
    border: rgba(255, 255, 255, 0.1) 2px solid;
    width: 50vw;
}
@media screen and (orientation: portrait) {
    #main {
        width: 85vw;
    }
}
h1 {
    margin: 0;
    text-align: center;
    font-weight: normal;
}
h2 {
    font-weight: normal;
}

#from-to {
    display: grid;
}
@media screen and (orientation: landscape) {
    #from-to {
        grid-template-columns: auto auto;
        text-align: center;
    }
    #from {
        margin-right: 50px;
    }
    #from, #to {
        width: 20vw;
    }
}

.grid {
    display: grid;
}
.grid > select, #in {
    margin-bottom: 5px;
    background-color: black;
    border: rgba(255, 255, 255, 0.1) 1px solid;
    color: white;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 30px;
}
.grid > select:focus, #in:focus {
    outline: none;
}

#out-parent {
    width: 20vw;
    text-align: left;
    cursor: pointer;
}
@media screen and (orientation: portrait) {
    #out-parent {
        width: 85vw;
        text-align: center;
    }
}
#out {
    word-wrap:break-word;
}
#msg-click-to-copy {
    font-size: small;
    color: rgba(255, 255, 255, 0.5);
}